* {
  padding: 0;
  margin: 0;
}

.banner {
  background-color: blue;
  height: 100vh;
  min-height: 600px;
  background-image: url('https://i.ibb.co/HNvHSyV/image-header.jpg');
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#fru {
  color: #fff;
  /* padding: 1.2rem; */
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  font-size: 1.3rem;
  color: #fff;
  align-items: center;
}

.menu span {
  margin-right: 1.5rem;
  cursor: pointer;
}

.text {
  padding-top: 70px;
}

.contact {
  background-color: #fff;
  color: #111;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.contact:hover {
  background-color: rgb(19, 223, 223);
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-size: 40px;
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
}

.arrow {
  margin-top: 60px;
}

.section1,
.section2,
.subSection {
  display: flex;
  height: 500px;
}

.section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .text-container {
  width: 70%;
}

.left h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.left p {
  color: #848391;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

.left .button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border-style: none;
}

.left div img {
  width: 150px;
}

.subSection {
  display: flex;
}

.subSection .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding-left: 60px;
}
.right p {
  color: #848391;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  padding: 0 60px;
}

.right .button {
  margin-left: 60px;
  border-style: none;
  background-color: #fff;
  cursor: pointer;
}

.left,
.right {
  flex: 1;
}

.left img,
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffbf8;
  padding: 50px 50px;
}

.testimonials h1 {
  color: #a0a1a2;
  font-size: 20px;
  margin-bottom: 40px;
}

.clients {
  display: flex;
  justify-content: space-between;
}
.clients .client {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  align-items: center;
}

.client .client-image {
  margin-bottom: 30px;
}

.client p {
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

.client .details {
  text-align: center;
}

.client h4 {
  color: #a0a1a2;
  margin-top: 10px;
}

.examples {
  display: flex;
}

.examples div {
  flex: 0.25;
}
.examples img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #90d4c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 50px;
}

.footer .logo {
  color: #2d7465;
}

.footer-navigation {
  color: #246f70;
  font-size: 1.2rem;
  margin-top: 30px;
  font-weight: bold;
}

.footer-navigation span {
  padding: 10px;
  cursor: pointer;
}

.footer .social-media {
  margin-top: 20px;
}

.social-media img {
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .section1,
  .subSection,
  .section2 {
    flex-direction: column;
    height: auto;
  }

  .section1 .left {
    padding: 20px 0;
  }

  .left h1 {
    padding-right: 40px;
  }

  .subSection .right {
    padding: 20px 0;
  }
  .clients {
    flex-direction: column;
  }

  .clients .client {
    margin-top: 3rem;
  }

  .examples {
    flex-wrap: wrap;
  }
  .examples div {
    flex: 0.5;
    flex-basis: 50%;
  }
  .menu span {
    display: none;
  }
  .menu .contact {
    padding: 10px;
    font-size: 20px;
  }
  .main .text {
    font-size: 1.5rem;
  }
}
